h1 {
  line-height: 1.1 !important;
}

.line-height{
  line-height: 1.1;
}

p {
  line-height: 1.6 !important;
}

/* Series section style */

/* @media screen and (max-width: 768px) { */
  .series-cover {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgb(255, 255, 255),
        rgba(255, 255, 255, 0.826)
      ),
      url("https://th.bing.com/th/id/R.ba8cdef385f2d4fb48d9da97b2a7eb78?rik=K7bOqw4oM95ZpQ&pid=ImgRaw&r=0");
    background-attachment: fixed;

  }
/* } */

.overlay{
      width: 100%;
      height: 0;
      position: absolute;
      bottom: 0;
      background-color: #6365f1b6;
      color: #fff;
      transition: height .3s linear;
}

.brand:hover .overlay{
      height: 100%;
}

.imgGrid > div{
  height: 400px;
}
.imgGrid > div img{
  background-position: top;
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.brand:hover .brandName {
      display: flex;
      justify-content: center;
      align-items: center;
      transition-delay: 2s;
      transition: all 1s linear;

}

/* add-product-cover */
.add-product-cover{
  mix-blend-mode: multiply;
  background: linear-gradient(to bottom,#ffffff, #fdfdfdf3), url('https://media.istockphoto.com/id/137861322/photo/tv-media-panel.jpg?s=1024x1024&w=is&k=20&c=xCWE0-BqF1AzTlLvMKIVykbi-JYVNfkSf602C9CKd5o=');

  background-size: cover;
  width: 100%;
  min-height:108vh;
  margin: 0;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

.bottom-line{
  border-bottom: 4px solid rgba(0, 0, 0, 0.176);
}

/* Project cover */
.project-cover{
  mix-blend-mode: multiply;
  width: 100%;
  height: 55vh;
  background:linear-gradient(to right,rgba(0, 0, 0, 0.576), rgba(0, 0, 0, 0.352)), url('https://th.bing.com/th/id/R.633a1a9020b7e09f338fe75e29e864f0?rik=862CtbjNu%2bdclw&pid=ImgRaw&r=0');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


#seriesgenreName{
  color: #fff !important;
}