a.active {
      background-color: transparent !important;
      color: #909090 !important;
      position: relative;
      transition: all .2s linear;
    }
    
    a.active::before {
      content: '';
      position: absolute;
      width: 24px;
      height:4px;
      background-color: #6366F1;
      color: #6366F1;
      top: 30px;
      left: 15px;
    }


  .bottom-mark{
    position: relative;
    transition: all .2s linear;
  }

    .bottom-mark::before {
      content: '';
      position: absolute;
      width:15%;
      margin-top: 25px;
      height:4px;
      background-color: #6366F1;
      color: #6366F1;
      margin-left: 30%;
      top: 30px;
  
    }