
h1{
  line-height: 1.5 !important;
}

.bg-1 {
  background: url("https://th.bing.com/th/id/R.4b051e5d69ed2f27c2b2295dade8426d?rik=XqJA%2fJAgRYqGSw&riu=http%3a%2f%2fstatic.guim.co.uk%2fsys-images%2fGuardian%2fPix%2fpictures%2f2014%2f9%2f3%2f1409755613016%2fFriends-season-10-014.jpg&ehk=u6KIb7oEbC2OskrdCMXkaUXhgRbF5v5MbLzugblZ5Co%3d&risl=&pid=ImgRaw&r=0");

  background-position: center;
  background-size: 306%;
  background-repeat: no-repeat;
  transition: all 0.4s linear;
}
.bg-2 {
  background: url("https://th.bing.com/th/id/OIP.xvfYAzsdBYaCHstLoQ2bBQHaKb?pid=ImgDet&w=1024&h=1443&rs=1");

  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s linear;
}
.bg-3 {
  background: url("https://th.bing.com/th/id/OIP.IpoQ3biXX_2m4kpONBnmVgHaLH?pid=ImgDet&w=1000&h=1500&rs=1");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s linear;
}

.bg-1:hover {
  background-size: 311%;
}

.bg-2:hover {
  background-size: 105%;
}
.bg-3:hover {
  background-size: 103%;
}

.arrow {
  transition: all 0.4s linear;
}

.arrow-container:hover .arrow {
  transform: translateX(6px);
}
.arrow-container:hover {
  cursor: pointer;
  text-decoration: underline;
}
/*  */
.right-container > div {
      position: relative;
}

.floating-text {
  background-color: rgba(255, 255, 255, 0.794);
  margin: 5px;
  justify-content: end;
  position: absolute;
  bottom: 0;
  border-radius: 8px;
  padding: 6px;
  font-size: 14px;
  transition: bottom .4s linear;
}

.floating-text p {
      font-size: 13px;
      padding-bottom: 10px;
}

.right-container > div:hover
 .floating-text{
      bottom:5px;
}


@media screen and (max-width:768px) {
  .banner-bg{
    background-color: rgb(8, 7, 7);
    padding-block:50px;
  }
  
}